/* style.css */ 

/* 
Dark Mode: 
Primary (60):   Erie Black #202020 
Primary Text:   Platinum #E0E0E0 

Secondary (30): Onyx #404040 
Secondary Text: Electric Blue #74FDFD  

Accent (10):    Robin Egg Blue #00CCCC 
*/

/* 
Light Mode: 
Primary (60):   Platinum #E0E0E0 
Primary Text:   Erie Black #202020 

Secondary (30): Timber Wolf #D6D6D6
Secondary Text: Electric Blue #74FDFD 

Accent (10):    Robin Egg Blue #00CCCC  
*/

/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #404040;
    color: #E0E0E0;
    font-size: 1.3em;
    line-height: 1.6em;
}

#wrapper {
    width: 80%;
    margin: auto;
}

header {
    background-color: #202020;
    font-size: 1.5em;
    padding: 20px;
}

h1, h2 {
    padding-bottom: 20px;
    text-align: center;
}


/* Navigation */

nav {
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    background-color: #202020;
    justify-content: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #74FDFD;
    transition: 0.3s;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #00CCCC;
}

/* Sections */

section {
    background-color: #202020;
    padding: 40px 100px;
    margin: 20px 0;
    border-radius: 10px;
    border: 0.1px solid #404040;
    box-shadow: 8px 8px 8px #202020;
}

/* Footer */

footer {
    background-color: #202020;
    padding: 20px 0;
    margin-top: 20px;
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0.1px solid #404040;
    box-shadow: 8px 8px 8px #202020;
}

/* Image Styling */

img {
    border-radius: 20px;
    border: 5px solid #404040;
    margin-bottom: 20px;
}

/* List Styling */

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Links */

a {
    color: #74FDFD;
    text-decoration: none;
}

a:hover {
    color: #00CCCC;
}

/* Buttons */

button {
    background-color: #74FDFD;
    color: #202020;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background: #00CCCC;
  }
  